<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person_category.name %>
</p>

<%= link_to 'Edit', edit_person_category_path(@person_category) %> |
<%= link_to 'Back', person_categories_path %>
